# replace these with your server's information
set :domain, "yourserver.com"
set :user, "root"

# name this the same thing as the directory on your server
set :application, "website.com"

# use your local repository as the source
#set :repository, "file://#{File.expand_path('.')}"

# or use a hosted repository
set :repository_path, "git-user@gitserver.com:repo.git"
set :repository, "ssh://${repository_path}"

set :app_root, "/var/www/serverfolder/"
